  <div class="navbar navbar-fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">champ-bootstrap</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="nav-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>
              <a href="@ResolveUrl("blog/index.html")">Blog</a>
            </li>
            <li>
              <a href="@ResolveUrl("projects/index.html")">Projects</a>
            </li>
            <li>
              <a href="@ResolveUrl("about.html")">About Me</a>
            </li>
          </ul>

          <ul class="nav navbar-nav pull-right">
            <li><a href="http://twitter.com/" title="your-twitter-handle"><i class="icon-twitter"></i></a></li>
            <li><a href="http://www.linkedin.com/" title="Find me on LinkedIn"><i class="icon-linkedin"></i></a>
          </ul>
        </div>
      </div>
    </div>